<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear partida</title>
</head>

<body>
	<a href="{{ url_for('index') }}">Inicio</a>

    <form action="{{ request.path }}" method="POST">

    Nombre:
	<input type="text" name="name" required="true" placeholder="Nombre de la partida">

    Cantidad inicial:
    <input type="number" name="initial_amount" min="0" required="true" placeholder="Cantidad inicial">

	<input type='submit' value="Guardar">
    </form>
</body>
</html>
