<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
</head>

<body>
    <a href="{{ url_for('index') }}">Inicio</a>
    <a href="{{ url_for('budget_heading_transfer',id=budget.id) }}">Transferir</a>
    <div>
        {{ budget.name }} 
        <a href="{{ url_for('budget_heading_create', id=budget.id) }}">Partida<a>
        <a href="{{ url_for('expense_create', id=budget.id) }}">Gasto<a>
    </div>

    {% for heading in headings %}
    <div>
        {{ heading.name }}
        <a href="{{ url_for('expense_show',id=heading.id) }}">Mostrar Gastos</a>
        <a href="{{ url_for('budget_heading_edit',id=heading.id) }}">Edit</a><br>
        Cantidad Inicial: {{ heading.initial_amount }}<br>
        Gastos: {{ expenses[heading.name] }}<br>
        Balance: {{ heading.initial_amount - expenses[heading.name] }}
    </div>
    {% endfor %}

</body>
</html>
