<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear presupuesto</title>
</head>

<body>
	<a href="{{ url_for('index') }}">Inicio</a>

    <form action="{{ request.path }}" method="POST">

    Nombre:
	<input type="text" name="name" required="true" placeholder="Nombre del presupuesto">

	Universidad:
	<select name='school'>
		{% for school in schools %}
        <option value='{{ school.id_school }}'  required="true" {% if school.id_school == 2 %} selected {% endif %}>{{ school.name }}</option>
		{% endfor %}
	</select>

    <input type='checkbox' name='publico'>Public<br>

	<input type='submit' value="Guardar">
    </form>
</body>
</html>
