<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Mostrar presupuestos</title>
</head>
<body>
<a href="{{ url_for('index') }}">Inicio</a><br>

    Tus presupuestos
    <a href="{{ url_for('budget_create') }}">+ Nuevo</a>

    {% for budget in private_budgets %}
    <div>
        {{ budget.name }} 
        <a href="{{ url_for('budget_show', id=budget.id) }}">Ver<a>
        <a href="{{ url_for('budget_edit', id=budget.id) }}">Editar<a>
        <a href="{{ url_for('budget_heading_create', id=budget.id) }}">Partida<a>
        <a href="{{ url_for('expense_create', id=budget.id) }}">Gasto<a>

    </div><br>
    {% endfor %}

      <!-- Presupuestos públicos -->
        Presupuestos públicos <br>

        {% for budget in public_budgets %}
        <div>
            {{ budget.name }} 
            <a href="{{ url_for('budget_show', id=budget.id) }}">Ver<a>
        </div><br>
        {% endfor %}

    </div>
</body>

