<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Editar presupuesto</title>
</head>

<form action="{{ request.path }}" method="POST">
    <label for='name'>Name</label>
    <input type='text' name='name' id='name' value='{{ budget.name }}' />

    <label for='school'>School</label>
    <select name='school' id='school'>
        {% for school in schools %}
        <option value='{{ school.id_school }}'>{{ school.name }}</option>
        {% endfor %}
    </select>

    <script type="text/javascript">
        function setSelectValue() {
            document.getElementById('school').options.selectedIndex = {{ budget.school }} -1;
        document.getElementById('public').checked = {{ public }};
    }
        window.onload = setSelectValue;
    </script>

    <label>
        <input type='checkbox' name='public' id='public'> Public
    </label>
    <button type='submit'>Guardar</button>
</form>
