<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mostrar presupuestos</title>
</head>
<body>
<a href="{{ url_for('index') }}">Inicio</a>

<a href="{{ url_for('budget_create') }}">Nuevo</a>
    Tus presupuestos <br>
    <a href="{{ url_for('budget_create') }}">+ Nuevo</a>

    {% for budget in private_budgets %}
    <div>
        {{ budget.name }} 
        <a href="{{ url_for('budget_show', id=budget.id) }}">Ver<a>
        <a href="{{ url_for('budget_edit', id=budget.id) }}">Editar<a>
        <a href="{{ url_for('expense_create', id=budget.id) }}">Partida<a>
        <a href="{{ url_for('expense_create', id=budget.id) }}">Gasto<a>

    </div><br>
    {% endfor %}

      <!-- Presupuestos públicos -->
        Presupuestos públicos <br>

        {% for budget in public_budgets %}
        <div>
            {{ budget.name }} 
        </div><br>
        {% endfor %}

    </div>
</body>

