<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear presupuesto</title>
</head>

<body>
	<a href="{{ url_for('index') }}">Inicio</a>

    <form action="{{ request.path }}" method="POST">

    Usuario:
	<input type="text" name="name" required="true" placeholder="Nombre">

	Escuela:
	<select>
		{% for school in schools %}
			<option value='{{school.id_school}}' name='school'>{{school.name}}</option>
		{% endfor %}
	</select>

	<input type='checkbox' name='public'>Public

	<button type='submit'>Guardar</button>
    </form>
</body>
</html>
