<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar presupuesto</title>
</head>

<a href="{{ url_for('index') }}">Inicio</a>

<form action="{{ request.path }}" method="POST">

Nombre:
<input type="text" name="name" required="true" placeholder="Nombre del presupuesto">

Universidad:
<select name='school' id='school'>
    {% for school in schools %}
        <option value='{{school.id_school}}' required="true">{{school.name}}</option>
    {% endfor %}
</select>

Cantidad:
<input type="number" name="amount" max="{{ heading.initial_amount }}"required="true" placeholder="Cantidad">

Fecha 
<input type="date" name="expense_date" required="true" placeholder="">

Fecha
<input type="date" name="add_date" placeholder="">

Fecha
<input type="date" name="register_date" placeholder="">

Observaciones:
<input type="text" name="observations" required="false" placeholder="Observaciones sobre el gasto">

<input type='submit' value="Guardar">
</form>
</body>
</html>
