<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mostrar gastos</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Inicio</a><br>
    {% for expense in expenses %}
        <div>
            Nombre: {{ expense.name }}<br>
            Cantidad : {{ expense.amount }}<br>
            Fecha de registro : {{ expense.add_date }}<br>
            Fecha del gasto : {{ expense.expense_date }}<br>
            Fecha de presentacion : {{ expense.register_date }}<br>
            Observaciones : {{ expense.observations }}<br>
        </div>
    {% endfor %}
    
</body>

