.columna{
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.presupuestos:after {
    content: "";
    display: table;
    clear: both;
}

.input-field input[type=text]:focus {
    box-shadow: 0 1px 0 0 #CCC
    border-bottom: 1px solid #CCC
}
